*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
background-color: #E5E4E2;

}
.container
{
	
	width: 100%;
	height: 100vh;
	margin: 0px;
	padding-: 0px;
	
	background-image:  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/image4.jpg");
	  		background-repeat: no-repeat;
	  		background-size: cover;
	  		
	}
	
.menu-container{
	float: right;
	margin-right: 10px;
	width: 250px;
	position:fixed;
	top: 4%;
	left:97%;
transform: translate(-50%);
	display:flex;
	transition: all .5s ease;
	
}
.button{
	position:absolute;
	
	color: white;
	font-size: 45px;
	padding: 8px 20px;
	width: 30px;
	line-height: 50px;
	display: block;
	
	border-radius: 25px;
	cursor: pointer;
	transition: width .4s;
}
.button.expand{
	width: 10%;

}
.fas.expand:before{
content: '\f00d';
}
.menus ul{
	list-style: none;
	position: absolute;
	display:block;
	background: transparent;
	width: 150px;
	
	top: 55px;
	text-align: center;
	border-radius: 5px;
	border: 2px solid grey;
	display: none;
	box-shadow: 0 15px 25px rgba(0, 0,0,0.9);
	
	

}

 .menus ul li{
	line-height: 35px;
	padding: 8px 10px;
	cursor: pointer;
	border: 1px solid transparent;
	border-bottom: 1px solid rgba(255,255,255,.1);
	transition: all .6s ease-in-out;

}
.menus ul li:last child{
	border-bottom: none;
}
.menus ul li:hover{
	box-shadow: inset 0 0 5px #33ffff,
	            inset 0 0 10px #66ffff;
}
.menus ul li:hover:first-child{
	border-radius: 5px 5px 0 0;
}
.menus ul li:hover:last-child{
	border-radius: 0 0 5px 5px ;
}
.menus ul li a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	transition: all 4s;
}
.menus ul li:hover a{
	color: cyan;
	padding-left: 20px;

}
.icon{
  display: flex;
  
  width: 500px;
  float: right;
  text-align: center;
  
  list-style: none;
  margin-right: 20px;
  margin-top: 34px;
  
}
.icon ul{
  display: flex;
  float: right;
  list-style: none;

}
.icon ul li{
  position: relative;
  display: block;
  color: white;
  font-size: 25px;
  text-align: center;
  height: 50px;
  width: 50px;
 background:#3D3C3A;
  line-height: 50px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: .5s;
}
.icon ul li:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}
.icon ul li:nth-child(1):before{
  background: #4267B2;
}
.icon ul li:nth-child(2):before{
  background: #1DA1F2;
}
.icon ul li:nth-child(3):before{
  background: #E1306C;
}
.icon ul li:nth-child(4):before{
  background: #2867B2;
}

.icon ul li:hover:before{
  filter: blur(3px);
  transform: scale(1.2);
  
}
.icon ul li:nth-child(1):hover:before{
  box-shadow: 0 0 15px #4267B2;
}
.icon ul li:nth-child(2):hover:before{
  box-shadow: 0 0 15px #1DA1F2;
}
.icon ul li:nth-child(3):hover:before{
  box-shadow: 0 0 15px #E1306C;
}
.icon ul li:nth-child(4):hover:before{
  box-shadow: 0 0 15px #2867B2;
}

.icon ul li:nth-child(1):hover{
  color: #456cba;
  box-shadow: 0 0 15px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}
.icon ul li:nth-child(2):hover{
  color: #26a4f2;
  box-shadow: 0 0 15px #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
}
.icon ul li:nth-child(3):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}
.icon ul li:nth-child(4):hover{
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867B2;
  text-shadow: 0 0 15px #2867B2;
}




.header{
	width: 60%;
	height: 40%;
	margin-top: 100px;
	margin-right:500px;
	
	float:left;
	margin-left:150px;
}
.header h3{
  font-size: 140px;
  font-family: 'Libre Caslon Display', serif;
  animation: text 3s 1;
margin-left: 50px;
color: white;
}
.header p{
  position: relative;
  font-size: 30px;
font-family: 'Libre Caslon Display', serif;
  animation: text 2s 1;
  line-height: 40px;
  color: #FEFCFF;
}
@keyframes text{
  0% {
    color: black;
    margin-top: 30%;
  }
  30%{
    letter-spacing: 20px;
    margin-top: 20%;
  }
  50%{
    letter-spacing: 2px;
    margin-top:  20%;

  }